/* // @import "src/styles/abstracts/mixins"; */
/* @import "src/styles/base/typography.css"; */
@import './../../../../../styles/base/_typography.css';
/* done */
/* // @import "src/styles/base/global"; */

/* .skills{
    &-col1{
        .text-wrapper{
          max-width: 534px;
        }
        &__text{
            background: linear-gradient(90deg, var(--color-darkest-blue),var(--accent-color)) ;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &__heading{
            font-size: var(--font-size-28-responsive);
            margin-bottom: 1rem;
        }
        &__para{
            font-size: var(--font-size-16-responsive);
            line-height: 21.78px;
        }

    }


    &-col2{
        &__heading{
            font-size: var(--font-size-24-responsive);
            margin-bottom: 1.5rem;
        }
        .tab__heading{
            font-size: var(--font-size-18-responsive);
        }
        &__linkWrapper{
            max-height: 450px;
            
        }
        .nav{
            border: 1px solid var(--card-border);
            border-radius: var(--border-radius-lg);

            &-link{
                border-radius: 4px;
                color: var(--tab-link) ;
                min-width:100%;
            }
            &-link.active{
                color: white;
                background-color: var(--color-bright-blue);
                .icons{
                    display: inline-block !important;
                    transition: all 500ms linear;
                  }
            }
        }
        &-grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: stretch;

        }
    }
} */
.skills-col1 .text-wrapper {
    max-width: 534px;
  }
  
  .skills-col1__text {
    background: linear-gradient(90deg, var(--color-darkest-blue), var(--accent-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .skills-col1__heading {
    font-size: var(--font-size-28-responsive);
    margin-bottom: 1rem;
  }
  
  .skills-col1__para {
    font-size: var(--font-size-16-responsive);
    line-height: 21.78px;
  }
  
  .skills-col2__heading {
    font-size: var(--font-size-24-responsive);
    margin-bottom: 1.5rem;
  }
  
  .tab__heading {
    font-size: var(--font-size-18-responsive);
  }
  
  .skills-col2__linkWrapper {
    max-height: 450px;
  }
  
  .nav {
    border: 1px solid var(--card-border);
    border-radius: var(--border-radius-lg);
  }
  
  .nav-link {
    border-radius: 4px;
    color: var(--tab-link);
    min-width: 100%;
  }
  
  .nav-link.active {
    color: white;
    background-color: var(--color-bright-blue);
  }
  
  .nav-link.active .icons {
    display: inline-block !important;
    transition: all 500ms linear;
  }
  
  .skills-col2-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: stretch;
  }
  