<div class="card card-small" style="max-width: 18rem;">
    <div class="card-body">
        <div class="d-flex justify-content-start mb-3 gap-2 gap-xl-3">
            <div class="card-small__img ratio ratio-1x1 overflow-hidden">
                <img src="./assets/cardImg.png" alt="" class="img-fluid object-fit-cover">
            </div>
            <div>
                <h5 class="card-title mb-0">CCNA R&S</h5>
                <span class="card-small__rating">
                    <span class="text-warning me-2"><i class="ri-star-fill"></i></span>
                    <span class="small-cards__sub text-black fw-medium">4.5</span>
                </span>
                <div class="vr mx-2 h-auto"></div>
                <span class="card-small__hours">
                    <span class="me-2"><i class="ri-time-line"></i></span>
                    <span class="small-cards__sub text-black fw-medium">40 Hrs</span>
                </span>
            </div>
        </div>
      <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
      <p class="card-text text-wrap lh-base card-small__para">Some quick example text to build Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, ea? on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>