// @import "src/styles/base/global";
@import "src/styles/base/typography";
// @import "src/styles/abstracts/mixins";


.course-card{
    max-width: 295px;
    transition: all 300ms;
    max-height: 422px;
    border-color: rgba(228, 230, 234, 1);
    &:hover{
        box-shadow: 0px 16px 32px -8px rgba(12, 12, 13, 0.4);
    }

    &__img{
    border-radius: var(--border-radius-md);
    }
    &__title{
        font-size: var(--font-size-18-responsive);
    }
    &__para{
        font-size: var(--font-size-12-responsive);
        color: #6b7280;
        line-height: 14.52px;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
    }
    &__enroll{
        border-radius: var(--border-radius-sm);
    }
    &__rating,&__time{
        font-size: var(--font-size-12-responsive);
    }
}