<div class="review-card card p-3 mb-4 shadow-sm">
    
    <div class="d-flex align-items-center mb-1 mb-md-3">
        <div class="review-card__img rounded-circle me-3 overflow-hidden">
            <img class="img-fluid" src="./assets/user.jpg" alt="User Profile">
        </div>
  
      <div>
        <h5 class="review-card__name fw-semibold mb-0 text-nowrap">User Name</h5>
        <p class="review-card__profe fw-medium text-muted mb-0 text-nowrap">User Profession</p>
      </div>
    </div>
  
   
    <div class="mt-3">
      <p class="review-card__para lh-sm">
        This is a sample testimonial text that represents what our learners say. The content should be fluid and responsive, 
        fitting within the card while limiting to approximately 10 lines. If the text exceeds this limit, it will be truncated.
        Additional text would normally be visible here, lorem200 but it will be truncated to fit within the given space.
      </p>
    </div>
  
    <!-- Third Section: Company Logo -->
    <div class="mt-1 mt-md-2">
        <div class="review-card__logo h-auto">
            <img class="h-100 w-100" src="./assets/logo3.png" alt="Company Logo">
        </div>
    </div>
  </div>
  