/* // started */
/* @import 'src/styles/base/typography.css'; */
@import './../../../../../styles/base/_typography.css';
/* mihal done */
/* // @import 'src/styles/abstracts/mixins';
// @import 'src/styles/base/global'; */
.started{
    &-container{
        max-width: 1020px;
        background-image: url('/assets/card2bannerMd.png');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    &-img{
        max-width: 316px;
        max-height: 320px;
    }
    
    &__header{
        font-size: var(--font-size-28-responsive);

    }
    &__para{
        font-size: var(--font-size-14-responsive);
        line-height: 17px;
    }
    &-text-wrapper{
        max-width: 380px;
    }

  }
  .started-container {
    max-width: 1020px;
    background-image: url('/assets/card2bannerMd.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .started-img {
    max-width: 316px;
    max-height: 320px;
  }
  
  .started__header {
    font-size: var(--font-size-28-responsive);
  }
  
  .started__para {
    font-size: var(--font-size-14-responsive);
    line-height: 17px;
  }
  
  .started-text-wrapper {
    max-width: 380px;
  }
  