/* // bg-#262626 */
@import 'src/styles/base/typography.css';
/* // @import 'src/styles/abstracts/mixins'; */
.footer{
    padding: 5% 5% 0 5%;
    background-color:#262626;
    font-size: var(--font-size-12-responsive);
    li,a{cursor: pointer;}

    /* // &-about{

        // @include break('sm'){
        //     font-size: var(--font-size-16-responsive);
        // }
    // } */
    &-icon{
        font-size: var(--font-size-18-responsive);
    }
    &__logo{
        max-width: 300px;
        min-width: 200px;
        max-height: 200px;
        margin-bottom: 2rem;
        img{
            max-width: 120px;
            /* // @include break('sm'){
            //     max-width: 160px;
            // }

            // @include break('md'){
            //     max-width: 200px;
            // } */
        }
    }


    &-courses__heading{
        font-size: var(--font-size-18-responsive);
    }
    &-courses__link{
        font-size: var(--font-size-12-responsive);
        padding: 5px 16px 5px 16px;

        /* // @include break('sm'){
        //     font-size: var(--font-size-14-responsive);
        //     padding: 6px 19px 6px 19px;
        // } */
        background-color: #2E2E31;
    }
    &-type{
        /* // .ul .footer-type__link:not(:first-child)::before {
        //     // @include break('sm') {
        //     //   content: "•"; 
        //     //   font-size: var(--font-size-16-responsive); 
        //     //   margin-right: 10px; 
        //     // }
        //   } */
          
        &__link{
            
            /* // @include break('sm'){
            //     font-size: var(--font-size-16-responsive);
            // } */
            color: #71717A;
            transition: all 300ms ease;
            &:hover{
                color: #57575c;
            }
        }
    }

    &-copyright{
        font-size: var(--font-size-10-responsive);
        /* // @include break('sm'){
        //     font-size: var(--font-size-12-responsive);
        // } */
    }
}


