<footer class="footer vw-100 text-white">
  <div class="container-fluid">
    <div class="row mb-3 mb-sm-5">
      <div class="col-12 col-md-5 footer-about px-0 pe-sm-4">
        <div
          class="footer__logo d-flex align-items-center justify-content-center h-auto"
        >
          <img
            class="w-100 object-fit-contain h-auto"
            src="./assets/logo3.png"
            alt="logo"
          />
        </div>
        <ul
          class="d-flex flex-column text-white gap-2 gap-sm-4 list-unstyled lh-base mb-3"
        >
          <li class="footer-about__links d-flex align-items-baseline">
            <span class="me-3 footer-icon"><i class="ri-phone-line"></i></span>
            <span class="fw-light"><a>022 46085506</a></span>
          </li>
          <li class="footer-about__links d-flex align-items-baseline">
            <span class="me-3 footer-icon"><i class="ri-mail-line"></i></span>
            <span class="fw-light"><a>infoipsol.in</a></span>
          </li>
          <li class="footer-about__links d-flex align-items-baseline">
            <span class="me-3 footer-icon"
              ><i class="ri-map-pin-line"></i
            ></span>
            <span class="fw-light"
              >Address:
              <a
                >C-201, Kohinoor Apartment, Above Titan World, N.C.Kelkar Road,
                Dadar(W), Mumbai - 400 028, India</a
              >
            </span>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-7 footer-links">
        <ul class="row gap-1 gap-sm-3 list-unstyled mb-5">
          <li class="col-auto">Home</li>
          <li class="col-auto">About Us</li>
          <li class="col-auto">Placement</li>
          <li class="col-auto">Admission</li>
          <li class="col-auto">Blog</li>
          <li class="col-auto">Contact</li>
        </ul>
        <div class="w-100 footer-courses">
          <h6 class="fw-medium footer-courses__heading mb-3">Coureses</h6>
          <ul class="row gap-2 gap-sm-3 list-unstyled">
            <li class="footer-courses__link col-auto rounded-pill">
              <a>CCNA Routing & Switching</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>CISSP</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>AWS Training</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>CCNP Security</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>Microsoft Training</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>CCIE Security Training</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>CHFI Training</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>Ethical Hacking Training</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>Microsoft Azure Training</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>Palo Alto Training</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>F5 Load Balancer Training</a>
            </li>
            <li class="footer-courses__link col-auto rounded-pill">
              <a>Digital Marketing Training</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="d-block py-1 py-sm-3" />
    <div class="row gap-2 footer-type">
      <div class="col-12">
        <h6 class="footer-type__header">CCNA Routing & Switching</h6>
        <ul
          class="d-flex flex-wrap gap-3 gap-sm-4 gap-md-5 px-0 ul list-unstyled"
        >
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
        </ul>
      </div>
      <div class="col-12">
        <h6 class="footer-type__header">CCNA Routing & Switching</h6>
        <ul
          class="d-flex flex-wrap gap-3 gap-sm-4 gap-md-5 px-0 ul list-unstyled"
        >
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
        </ul>
      </div>
      <div class="col-12">
        <h6 class="footer-type__header">CCNA Routing & Switching</h6>
        <ul
          class="d-flex flex-wrap gap-3 gap-sm-4 gap-md-5 px-0 ul list-unstyled"
        >
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
        </ul>
      </div>
      <div class="col-12">
        <h6 class="footer-type__header">CCNA Routing & Switching</h6>
        <ul
          class="d-flex flex-wrap gap-3 gap-sm-4 gap-md-5 px-0 ul list-unstyled"
        >
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
        </ul>
      </div>
      <div class="col-12">
        <h6 class="footer-type__header">CCNA Routing & Switching</h6>
        <ul
          class="d-flex flex-wrap gap-3 gap-sm-4 gap-md-5 px-0 ul list-unstyled"
        >
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
          <li class="footer-type__link"><a>footer-type</a></li>
        </ul>
      </div>
    </div>
    <hr class="d-block pt-3 mb-0" />
    <div class="row justify-content-between pb-3 footer-copyright gap-3">
      <div class="col-12 col-md-auto">
        <span>© Copyright IP SOLUTIONS. All Rights Reserved</span>
      </div>
      <div class="col-12 col-md-auto">
        <div class="d-flex gap-2 gap-sm-3">
          <span class="text-capitalize"><a>Privacy Policy</a></span>
          <span class="text-capitalize"><a>Terms & Condition</a></span>
          <span class="text-capitalize"><a>Cookie Setting</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>
