<section class="started py-5">
  <div class="container started-container h-auto">
    <div class="row h-100 align-items-center px-3 px-md-0">
      <div class="col-12 align-self-end col-sm-5 col-md-4 h-100 p-0 order-1 order-sm-0">
        <div class="starded-img h-100">
          <img
            class="h-100 w-100 object-fit-cover"
            src="./assets/laptopGuy.png"
            alt=""
          />
        </div>
      </div>
      <div class="col started-col2 px-sm-3 px-ld-5 order-0 order-sm-1">
        <div
          class="d-flex flex-column flex-lg-row align-items-start align-items-md-center justify-content-evenly py-5 py-md-0"
        >
          <div class="text-white started-text-wrapper text-start mb-3">
            <h3 class="started__header text-capitalize fw-medium">
              ready to get started
            </h3>
            <p class="started__para fw-light">
              Lorem ipsum is placeholder text commonly used in the graphic,
              print, and publishing industries for previewing layouts and visual
              mockups.
            </p>
          </div>
          <button class="btn btn-primary text-capitalize px-4 text-nowrap">
            join now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
