@import './../../../../styles/base/_typography.css';
/* done */
/* // @import "../../../../../base/typography" ;
// @import "src/styles/base/global";
// @import "src/styles/abstracts/mixins"; */

/* .landing{
    min-height: 100svh;

    &-textWrapper{
      left: 5%;
      top: 12%;
      
        &__heading{
          line-height: 0.9em;

            font-size: 40px;
        }
        &__para{
            font-size: var(--font-size-16-responsive);
        }
    }
    &-btn__started{
        padding: 0.4375rem 1.25rem;
        .icon{
            font-size: var(--font-size-16-responsive);
        }
    }
} */

/* .learner{
  padding: 6% 0;
  &-header{
    font-size: var(--font-size-28-responsive);
    margin-bottom: 3%;
  }
  &-card_infi{
    animation: 10s slides infinite linear;
  }
}

.grouped{
    max-width: 1020px;
    margin: auto;
    &-logo{
      max-width: 120px;

        img{
          max-width: 100px;
        }
    }
    &-header{
      font-size: var(--font-size-24-responsive);
    }
}

.ask{
  .accordion{
    font-size: var(--font-size-12-responsive);
    &-button{
      font-size: var(--font-size-12-responsive);
    }
  }
  max-width: 740px;
  .accordion-collapse.show{
    box-shadow: 0px 8px 8px -4px #0d0c0c1c !important;
  }
  .accordion-rank{
    font-size: var(--font-size-14-responsive);

  }
  &__heading{
    font-size: var(--font-size-24-responsive);

  
  }
  .got-more{
    font-size: var(--font-size-12-responsive);

  }
} */
