/* // @import './../../../../styles/base/global';
// @import './../../../../styles/abstracts/variables';
// @import './../../../../styles/abstracts/mixins'; */
@import './../../../../styles/base/_typography.css';
/* @import './../../../../styles/base/typography.css'; */
/* .navbar {
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  
  &-icon{
    width: 120px;
    height: auto;
    aspect-ratio: 5.76;
  }
  &-container-wrapper {
    max-width: 1420px;
  }
  &-toggler {
    height: 40px;
    width: 40px;
  }

  .courses {
    &-dropdown {
      &__btn {
        border-radius: var(--border-radius-lg);
        background-color: var(--background-color);
        font-size: var(--font-size-14-responsive);
        &::after {
          display: none;
        }
      }

      &__menu {
        font-size: var(--font-size-14-responsive);
      }
      &__item{
        
        cursor: pointer;
        &:hover{
            background-color: var(--background-color) ;
            color: var(--text-color) !important;
        }
      }
    }
  }
} */
