@import "src/styles/main.scss";
.navbar {

  &-icon{
    width: 120px;
    height: auto;
    aspect-ratio: 5.76;
  }
  &-container-wrapper {
    max-width: 1420px;
  }
  &-toggler {
    height: 40px;
    width: 40px;
  }

  .courses {
    &-dropdown {
      &__btn {
        border-radius: $border-radius-lg;
        background-color: $background-color;
        font-size: $font-size-14-responsive;
        &::after {
          display: none;
        }
      }

      &__menu {
        font-size: $font-size-14-responsive;
      }
      &__item{
        
        cursor: pointer;
        &:hover{
            background-color: $background-color;
            color: $text-color !important;
        }
      }
    }
  }
}

.search-wrapper {
    
    .search-input {
      padding-left: 2.5rem;
      border: 1px solid $border-light;
      outline: none;
      border-radius: $border-radius-lg;
  
      &:focus {
        border-color: $border-light;
        box-shadow: none; 
      }
    }
  
    .search-icon {
      left: 0.75rem;
      color: $border; 
      pointer-events: none; 
    }
  }
  

  // 
  .dropdown-toggle{
    &::after{
      display: none;
    }
  }
  @media all and (min-width: 992px) {
    .dropdown-menu {
      width: 13rem;
    }
    .mega-submenu {
      left: 100%;
      top: 0;
      min-width: 25rem;
    }

    .mega-menu {
      left: 0;
      right: 0;
      width: 100%;
      padding: 3.8%;

      @include break('xl'){
        padding: 5% 4%;
      }
      &__heading{
        font-size: $font-size-35-responsive;
      }
      &__links{
        all: unset;
        color: #6B7280;
        padding: 11px 10px 11px 10px;
        border-radius: 4px;
        transition: all 300ms;

        &.active{
          background-color: #3B81F5;
          color: white;

          .icons{
            display: inline-block !important;
          }
        }
      }
    }
    .dropdown-menu li {
      position: relative;
    }
    .dropdown-menu .submenu {
      display: none;
      left: 100%;
      top: 0;
    }

    // content inside mega menu

    .grid-container {
      display: grid;
      // grid-template-columns: auto 6fr auto;
      grid-template-columns: 2fr 6fr 2fr;

      gap: 16px; 

      // @include break('xl') {
      // grid-template-columns: 2fr 6fr 2fr;
      // }
      // height: 300px; 

      .cols {
        // background-color: #f0f0f0;
        padding: 20px;

        &-cards{
          border-left: 1px solid;
          border-right: 1px solid;
          border-color: $card-border-color;
        }
        &-popular{

          &__heading{
            font-size: $font-size-16-responsive;
          }
        }
      }
    }
    
    
    /* Responsive behavior: adjust when columns are removed */
    // .col-1 {
    //   grid-column: span 1;
    // }
    
    // .col-2 {
    //   grid-column: span 1;
    // }
    
    // .col-3 {
    //   grid-column: span 1;
    // }
    
    /* When only one column is present, it takes up its original space */
    .grid-container > :only-child {
      grid-column: span 1;
    }
    
    /* When there are two columns, they adjust to available space */
    .grid-container > :nth-child(2):last-child {
      grid-column: span 3;
    }
    
    .grid-container > :first-child:nth-last-child(2) {
      grid-column: span 3;
    }
    
    
  }
